[submodule "code/mwa2"]
	path = code/mwa2
	url = https://github.com/rodchristiansen/mwa2.git
[submodule "code/munkiadmin"]
	path = code/munkiadmin
	url = https://github.com/rodchristiansen/munkiadmin.git
[submodule "code/cli/munki/munkipkg"]
	path = code/cli/munki/munkipkg
	url = https://github.com/rodchristiansen/munki-pkg.git
[submodule "code/munkireport/managedinstalls"]
	path = code/munkireport/managedinstalls
	url = https://github.com/rodchristiansen/managedinstalls.git
[submodule "code/munkireport/munkireport"]
	path = code/munkireport/munkireport
	url = https://github.com/rodchristiansen/munkireport.git
[submodule "code/munkireport/munkiinfo"]
	path = code/munkireport/munkiinfo
	url = https://github.com/rodchristiansen/munkiinfo.git
